/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
/*This is some further normalization and base styles. */
  html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}


body {
  margin: 0;
  padding: 0;
  background-size: cover;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

h1 {
 font-family: "Courier";
 font-size: 86px;
 color: #303030;
 margin-top: 0;
 text-align: center;
}

h2 {
  font-family: "Courier";
  font-size: 46px;
  line-height: 1.13;
  color: #303030;
}

h3 {
  font-family:"Roboto Condensed";
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #b25a44;
  line-height: 10px;
}

p {
  font-family: "Open Sans";
  font-size: 16px;
}

.outer-wrapper {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: #fbf1dc;
}

.inner-wrapper{
  position: relative;
  max-width: 75%;
  margin: 0 auto;
  padding: 0;

}

.masthead {
  /*min-height: 780px;*/
  background-color: #fbf1dc;
  background-size: cover;
  padding: 0;
  margin: 0;
}

.heading {
  display: block;
  position: absolute;
  margin-left: 100px;
  padding-top: 6%;
}
.heading h1 {
  font-size: 8vw;
  line-height: 0.9;
}

.heading h3 {
  font-size: 3vw;
  padding-left: 46%;
  line-height: 0px;
  margin-top: -2%;
  text-transform: lowercase;
}

.masthead-img {
  display: inline;
  position: relative;
  /*padding-top: 10%;*/
  margin-top: 120px;
  width: 100%;
}

.navigation {
  min-height: 780px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
  padding-top: 10%;
  padding-bottom: 10%;
}

.navigation > div {
  flex-grow: 0;
  flex-shrink: 0;
  background-color: #B1C9C5;
  flex-basis: 100%;
  width: 100%;
  margin: 10px;
  height: 300px;
  text-align: center;
  transition: background 0.25s linear;
  cursor: pointer;
}

/* TABLET */
@media screen and (min-width: 768px) {
  .navigation > div {
    flex-basis: calc(50% - 20px);
    width: calc(50% - 20px);
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
  .navigation > div {
    flex-basis: calc(33.333% - 20px);
    width: calc(33.333% - 20px);
  }
}

.colonial-nav {
  /*order: 1;*/
}

.colonial-nav:hover {
  background: #B25A44;
}

.colonial-nav:hover h2 {
  color: #fbf1dc;
}


.neoclassical-nav {
  background-color: #B1C9C5;
  flex-basis: 25%;
  margin: 10px;
  text-align: center;
  transition: background 0.25s linear;
}

.neoclassical-nav:hover {
  background: #B25A44;
}

.neoclassical-nav:hover h2 {
  color: #fbf1dc;
}

.victorian-nav {

  background-color: #B1C9C5;
  flex-basis: 25%;
  margin: 10px;
  text-align: center;
  transition: background 0.25s linear;
}

.victorian-nav:hover {
  background: #B25A44;
}

.victorian-nav:hover h2 {
  color: #fbf1dc;
}

.gilded-nav {

  background-color: #B1C9C5;
  flex-basis: 25%;
  margin: 10px;
  text-align: center;
  transition: background 0.25s linear;
}

.gilded-nav:hover {
  background: #B25A44;
}

.gilded-nav:hover h2 {
  color: #fbf1dc;
}

.FLW-nav {

  background-color: #B1C9C5;
  flex-basis: 25%;
  margin: 10px;
  text-align: center;
  transition: background 0.25s linear;
}

.FLW-nav:hover {
  background: #B25A44;
}

.FLW-nav:hover h2 {
  color: #fbf1dc;
}

.mid-century-nav {

  background-color: #B1C9C5;
  flex-basis: 25%;
  margin: 10px;
  text-align: center;
  transition: background 0.25s linear;
}

.mid-century-nav:hover {
  background: #B25A44;
}

.mid-century-nav:hover h2 {
  color: #fbf1dc;
}



.cat-section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-wrapper {
  padding-left: 12vw;
  padding-right: 12vw;
}
.text-wrapper {

}

/* TABLET UP */
@media screen and (min-width: 768px) {
  .cat-section {
    flex-direction: row;

  }
  .img-wrapper {
    padding-left: 20px;
    padding-right: 0px;
    flex-basis: 40%;
  }
  .text-wrapper {
    padding-right: 20px;
    flex-basis: 60%;
  }
}


.colonial {
  /*min-height: 520px;*/
  background-color: #fbf1dc;
  padding: 20px;
}

.colonial h2 {
  line-height: 1;
}

.colonial-text {
  /*display: block;*/
  /*float: left;*/
  /*width: 50%;*/
}

.colonial-famous {
  /*display: block;*/
  /*float: left;*/
  /*width: 50%;*/
  /*clear: both;*/
}

.colonial-illustration {
  /*display: inline;*/
  /*margin: 6em;*/
  /*width: 50%;*/
  /*float: right;*/
}

.neoclassical {
  /*min-height: 520px;
  order: 2;*/
  background-color: #fbf1dc;
  padding: 20px;
  padding-top: 100px;
}

.neoclassical h2 {
  line-height: 1;
}

.neoclassical-text {
  /*display: block;
  float: left;
  width: 50%;*/
}

.neoclassical-famous {
  /*display: block;
  float: left;
  width: 50%;
  clear: both;*/
}

.neoclassical-illustration {
  /*display: inline;
  margin: 6em;*/
}

.pullquote {
  min-height: 280px;
  background-color: #b25a44;
  text-align: center;
  padding: 70px;
  margin-top: 100px;
}

.pullquote h3 {
  line-height: 24px;
  font-size: 24px;
  line-height: 32px;
  color: #fbf1dc;
}

.victorian {
  /*min-height: 520px;*/
  background-color: #fbf1dc;
  padding: 20px;
  margin-top: 80px;
}

.victorian h2 {
  line-height: 0px;
}

.victorian-text {
  /*display: block;
  float: left;
  width: 50%;*/
}

.victorian-famous {
  /*display: block;
  float: left;
  width: 50%;
  clear: both;*/
}

.victorian-illustration {
  /*display: inline;
  margin: 6em;*/
}

.serperation {
  min-height: 280px;
  min-width: 400px;
  background-size: cover;
}

.seperation-img {


}

.gilded {
  /*min-height: 520px;*/
  background-color: #fbf1dc;
  padding: 20px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.gilded h2 {
  line-height: 0px;
}

.gilded-text {
  /*display: block;
  float: left;
  width: 50%;*/
}

.gilded-famous {
  /*display: block;
  float: left;
  width: 50%;
  clear: both;*/
}

.gilded-illustration {
  /*display: inline;
  margin: 10em;*/
}


.FLW {
  margin-top: 160px;
  /*min-height: 520px;*/
  background-color: #fbf1dc;
  padding: 20px;
}

.FLW h2 {
  line-height: 0px;
}

.FLW-text {
  /*display: block;
  float: left;
  width: 50%;*/
}

.FLW-famous {
  /*display: block;
  float: left;
  width: 50%;
  clear: both;*/
}

.FLW-illustration {
  /*display: inline;
  margin: 6em;*/
}

.mid-century {
  /*min-height: 520px;*/
  background-color: #fbf1dc;
  padding: 20px;
  margin-top: 100px;
}

.mid-century h2 {
  line-height: 0px;
}

.mid-century-text {
  /*display: block;
  float: left;
  width: 50%;*/
}

.mid-century-famous {
  /*display: block;
  float: left;
  width: 50%;
  clear: both;*/
}

.mid-century-illustration {
  /*display: inline;
  margin: 6em;*/
}

/*.masthead h1 {
  line-height: 74px;
}*/

.navigation h2 {
  color: #B25A44;

}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Responsive images base, put your images in a wrapper */
img {
    display: block;
    width: 100%;
    height: auto;
}

/*Here's where you would put your Google Fonts import*/
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700|Source+Sans+Pro:200,300,400,400i,600,700,900|Source+Serif+Pro:400,600,700');


/* BOX MODEL SETTING FOR ALL ELEMENTS BY DEFAULT
THIS IS BETTER THAN DEFAULT, YOU SHOULD ALWAYS USE THIS:
*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* END BOX MODEL SETTINGS */

body {
  font-size: 16px; /* Base Size */
  /*Setting the base font family*/
  font-family: "Source Sans Pro", Verdana, sans-serif;
  margin: 0;
  padding: 0;
}


@media only screen and (min-width: 400px){
  .heading {
    margin-left: 10%;
  }
}
/*Here's a sample media query for you. This one is for desktop styles.*/
/*@media only screen and (min-width: 960px) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Use this clearfix class on the parent of floated elements to clear the float! */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
