/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
/*This is some further normalization and base styles. */
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}


body {
  margin: 0;
  padding: 0;
  background-size: cover;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

h1 {
 font-family: "Courier";
 font-size: 86px;
 color: #303030;
 margin-top: 0;
 text-align: center;
}

h2 {
  font-family: "Courier";
  font-size: 46px;
  line-height: 52px;
  color: #303030;
}

h3 {
  font-family:"Roboto Condensed";
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #b25a44;
}

p {
  font-family: "Open Sans";
  font-size: 16px;
}

.outer-wrapper {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: #fbf1dc;
}

.inner-wrapper{
  position: relative;
  max-width: 75%;
  margin: 0 auto;
  padding: 0;

}

.masthead {
  min-height: 780px;
  background-color: #fbf1dc;
  background-size: cover;
  padding: 0;
  margin: 0;
}

.heading {
  display: block;
  position: absolute;
  margin-left: 20%;
  padding-top: 6%;
}

.masthead-img {
  display: inline;
  position: relative;
  padding-top: 10%;
  height: 100%;
  width: 100%;
}

.navigation {
  min-height: 780px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
  padding-top: 10%;
  padding-bottom: 10%;
}

.colonial-nav {
  order: 1;
  flex-grow: 1;
  background-color: #B1C9C5;
  flex-basis: 25%;
  margin: 10px;
  text-align: center;
  transition: background 0.25s linear;
}

.colonial-nav:hover {
  background: #B25A44;
}

.colonial-nav:hover h2 {
  color: #fbf1dc;
}

.neoclassical-nav {
  order: 2;
  flex-grow: 1;
  background-color: #B1C9C5;
  flex-basis: 25%;
  margin: 10px;
  text-align: center;
  transition: background 0.25s linear;
}

.neoclassical-nav:hover {
  background: #B25A44;
}

.neoclassical-nav:hover h2 {
  color: #fbf1dc;
}

.victorian-nav {
  order: 3;
  flex-grow: 1;
  background-color: #B1C9C5;
  flex-basis: 25%;
  margin: 10px;
  text-align: center;
  transition: background 0.25s linear;
}

.victorian-nav:hover {
  background: #B25A44;
}

.victorian-nav:hover h2 {
  color: #fbf1dc;
}

.gilded-nav {
  order: 4;
  flex-grow: 1;
  background-color: #B1C9C5;
  flex-basis: 25%;
  margin: 10px;
  text-align: center;
  transition: background 0.25s linear;
}

.gilded-nav:hover {
  background: #B25A44;
}

.gilded-nav:hover h2 {
  color: #fbf1dc;
}

.FLW-nav {
  order: 5;
  flex-grow: 1;
  background-color: #B1C9C5;
  flex-basis: 25%;
  margin: 10px;
  text-align: center;
  transition: background 0.25s linear;
}

.FLW-nav:hover {
  background: #B25A44;
}

.FLW-nav:hover h2 {
  color: #fbf1dc;
}

.mid-century-nav {
  order: 6;
  flex-grow: 1;
  background-color: #B1C9C5;
  flex-basis: 25%;
  margin: 10px;
  text-align: center;
  transition: background 0.25s linear;
}

.mid-century-nav:hover {
  background: #B25A44;
}

.mid-century-nav:hover h2 {
  color: #fbf1dc;
}

.colonial {
  min-height: 780px;
  background-color: #fbf1cc;
}

.neoclassical {
  min-height: 780px;
  background-color: #fbf1fc;
  order: 2;
}

.pullquote {
  min-height: 280px;
  background-color: #fbf1bc;
}

.victorian {
  min-height: 780px;
  background-color: #fbf1ac;
  order: 3;
}

.gilded {
  min-height: 780px;
  background-color: #fbf1fc;
  order: 4;
}

.FLW {
  min-height: 780px;
  background-color: #fbf1ac;
  order: 5;
}

.mid-century {
  min-height: 780px;
  background-color: #fbf1fc;
  order: 6;
}

.masthead h1 {
  line-height: 74px;
}

.navigation h2 {
  color: #B25A44;

}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Responsive images base, put your images in a wrapper
img {
    display: block;
    width: 100%;
    height: auto;
}

/*Here's where you would put your Google Fonts import*/
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700|Source+Sans+Pro:200,300,400,400i,600,700,900|Source+Serif+Pro:400,600,700');


/* BOX MODEL SETTING FOR ALL ELEMENTS BY DEFAULT
THIS IS BETTER THAN DEFAULT, YOU SHOULD ALWAYS USE THIS:
*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* END BOX MODEL SETTINGS */

body {
  font-size: 16px; /* Base Size */
  /*Setting the base font family*/
  font-family: "Source Sans Pro", Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

/*Here's a sample media query for you. This one is for desktop styles.*/
/*@media only screen and (min-width: 960px) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Use this clearfix class on the parent of floated elements to clear the float! */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
